.calc{
    width: 400px;
    height: 500px;
    background-color: brown;
    border-radius: 30px;
    margin-left:400px ;}
    #screen{
        width: 80%;
        margin-left: 36px;
        margin-top: 30px;
        height: 40px;
        pointer-events: none;                     
    }
    .btn{
        width: 60px;
        height: 45px;
        margin-left: 30px;
        margin-top:30px ;
        background-color: beige;
    }